body {
  margin: 0;
  background: rgb(34, 51, 51);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(34, 51, 51);
  color: white;
  text-align: center;
  font-size: 50px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(50, 90, 10);
  font-size: 50px;
  color: white;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 60%;
  background: #231223;
  font-size: 50px;
  float: left;
  height: 400px;
  text-align: center;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 40%;
  color: white;
  font-size: 50px;
  height: 800px;
  text-align: center;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 60%;
  background: #6a1f6a;
  font-size: 50px;
  color: white;
  height: 400px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 50px;
  color: white;
  background: rgb(34, 51, 51);
  text-align: center;
}

.zolte {
    width:150px;
  display: block;

}
.zielone {
    display: block;
  width: 120px;
}

#przycisk{
    width: 200px;
    height: 40px;
    font-size: 25px;
    background-color:#231223;
    color: white;
    border: #6a1f6a;
    animation: 1s;
}

#przycisk:hover{
    width: 220px;
    height: 50px;
}
